.container {
    max-width: 100%;
    height: 100%;
    margin: auto;
    border: 3px solid red;
}

/* main_header */

.main_header {
    width: 100%;
    height: 180px;
    margin: auto;
    background-color: #2E0230;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 72px;
}

/* left_side */

.left_side {
    display: flex;
    width: 8.5%;
    gap: 8px;
}

.main_header_title {
    color: #F1ACEE;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* search_box */


.search_box {
    width: 40%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px 8px 8px 8px;
    background-color: white;
}


.search_line {

    width: 100%;
    height: 48px;
    margin-left: 16px;

}



.fa-magnifying-glass {
    width: 48px;
    height: 48px;
    padding: 16px;
    background: #01ACA9;

}


/* right_side */

.right_side {
    display: flex;
    width: 9.6%;

}

.main_header_button {
    display: flex;
    width: 84px;
    height: 42px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #F30AEA;
    background-color: #2E0230;
    color: white;
}


.fa-user {
    display: none;
    width: 16px;
    height: 16px;
    border: 1px solid #F30AEA;
    border-radius: 8px;


}

.fa-cart-shopping {
    color: white;
    border: 1px solid #F30AEA;
    border-radius: 8px;

    width: 42px;
    height: 42px;
    padding: 13px;
    justify-content: center;
    align-items: center;
}

/* navigation */

.navigation {
    width: 100%;
    height: 34px;
    background-color: #01ACA9;
}

.navigation_ul {
    width: 80%;
    height: 34px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_li {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* section */

section {

    width: 100%;
    height: 1004px;
    background-image: url("../images/cover\ image.png");
    padding: 64px 288px;
}

.section_div {

    background-color: aqua;
    /* width: 80%; */
    height: 780px;
    margin: auto;
    padding: 50px;

}

.section_contact_box {
    background-color: aquamarine;
    width: 80%;
    height: 674px;
    margin: auto;
    padding: 48px 200px;


}




.contact_us_title {

    color: #FFF;
    text-shadow: 2px 4px 4px rgba(249, 12, 239, 0.71);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 4px;
    background-color: #2E0230;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;

}

/* footer */

.footer_div {
    width: 100%;
    height: 325px;
    background: #01ACA9;
    display: flex;
    justify-content: space-between;
    padding: 48px 72px 64px 72px;
}


.footer_leftside {
    width: 18.5%;
}

.footer_leftside_h2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.footer_leftside_1p {
    color: #F5E0F5;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    margin: 8px 0 64px 0;
}

.footer_leftside_2p {
    color: #F5E0F5;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
}

/* footer_followus */

.footer_followus {
    width: 10%;
    margin-top: 0;
}

.fa-brands {
    width: 24px;
    height: 24px;
    row-gap: 24px;
    color: white;
}

.footer_followus_h2 {

    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 8px;
}

/* footer_rightside */

.footer_rightside {
    width: 14%;
  

}

.location {
    display: flex;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.number {
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.email {
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}



.fa-location-dot{
    width: 24px;
    height: 24px;
    row-gap: 24px;
    color: white;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-phone {
    width: 24px;
    height: 24px;
    row-gap: 24px;
    color: white;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-envelope {
    width: 24px;
    height: 24px;
    row-gap: 24px;
    color: white;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}